BasedOnStyle: Google
Standard: Cpp11
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 100
IncludeBlocks: Regroup
# 连续赋值时，对齐所有等号
AlignConsecutiveAssignments:    true
# 连续声明时，对齐所有声明的变量名
AlignConsecutiveDeclarations:   true
